.idea
.vscode
.fleet
.DS_Store
.out
.pid
__debug_bin
nohup.out
debug*
*.log
.favorites.json
vendor/
x-doc
log
logs
data/cache/
.protoset
.pb.go
data/geoip/
/x-test/
./bgw
bgw
pkg/http/data
data/plugins
data/localdb
pkg/common/localdb/data
.history
/bin
pkg/remoting/user/data
/pkg/server/filter/signature/data/
/data/nacos/
pkg/server/ws/data/
/pkg/server/cluster/data/
